:root {
    --color-primary: rgba(22, 99, 249, 1);
    --color-secondary: rgba(245, 149, 58, 1);
    --color-dark: rgba(31, 35, 38, 1);
    --color-dark1: rgba(129, 135, 157, 1);
    --color-white: rgba(255, 255, 255, 1);
    --color-white1: #F0F0F0;

    --font-family-primary: "Poppins", sans-serif;
    --font-family-secondary: "Sora", sans-serif;
}

body {
    font-family: var(--font-family-primary);
    color: var(--color-dark);
    overflow-x: hidden;
}

a {
    text-decoration: none;
    color: inherit;
}

/* logo */
.logo {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    text-decoration: none;
}

.logo-image {
    width: 26px;
    height: 36px;
    object-fit: cover;
}

.logo-text {
    font-family: var(--font-family-secondary);
    color: var(--color-dark);
}

/* text-gradient */
.text-gradient {
    color: transparent;
    background-clip: text;
    background-image: linear-gradient(to right, rgb(22, 99, 249), rgb(249, 97, 216));
}

.text-gradient-pri {
    color: var(--color-primary);
}

/* icon */
.icon {
    border-radius: 100rem;
    width: 20px;
    height: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    /* background: linear-gradient(160.02deg, #F49235 11.67%, #FFB46D 82.2%); */
}

.icon-check {
    width: 10px;
    height: 10px;
}

.icon-star {
    width: 28px;
    height: 28px;
}

.icon-bars {
    width: 24px;
    height: 24px;
}

.icon-arrow {
    width: 11px;
    height: 7px;
}

/* item-square */
.item-square {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border-radius: 20px;
    padding: 10px;
    background-color: var(--color-white);
}

.item-square-image {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 60px;
    height: 60px;
    color: var(--color-secondary);
    background-color: rgba(255, 249, 243, 1);
    margin-bottom: 10px;
}

.item-square-img {
    width: 30px;
    height: 30px;
}

.item-square-text {
    color: var(--color-dark1);
}

/* tag-item */
.tag-item {
    background-color: var(--color-white);
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 20px;
}

.tag-img {
    border-radius: 10px;
    width: 80px;
    height: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.tag-img-color1 {
    background-color: rgba(255, 247, 240, 1);
}

.tag-img-color2 {
    background-color: #E7F7FF;
}

.tag-img-color3 {
    background-color: #E9F0FF;
}

.tag-icon {
    width: 50px;
    height: 50px;
    object-fit: cover;
}

.tag-content {
    display: flex;
    flex-direction: column;
    align-content: flex-start;
    gap: 16px;
}

.tag-title {
    font-family: var(--font-family-secondary);
}

/* global */

.button {
    border-radius: 100rem;
    background-color: var(--color-primary);
    color: var(--color-white);
}

.rounded {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    border-radius: 100rem;
}

/* text */

.text-b1 {
    font-weight: 400;
    font-size: 18px;
    line-height: 1.44;
}

.text-b2 {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
}

.text-b3 {
    font-weight: 400;
    font-size: 14px;
    line-height: 1.43;
}

.text-b4 {
    font-size: 12px;
    line-height: 1.33;
    font-weight: 400;
}

.text-h1 {
    font-weight: 800;
    font-size: 60px;
    line-height: 1.27;
}

.text-h2 {
    font-weight: 700;
    font-size: 50px;
    line-height: 1.2;
}

.text-h3 {
    font-weight: 700;
    font-size: 34px;
    line-height: 1.24;
}

.text-h4 {
    font-weight: 700;
    font-size: 28px;
    line-height: 1.36;
}

.text-h5 {
    font-weight: 600;
    font-size: 20px;
    line-height: 1.4;
}

.text-sh1 {
    font-weight: 600;
    font-size: 18px;
    line-height: 1.33;
}

.text-sh2 {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
}

.text-p1 {
    font-weight: 400;
    font-size: 20px;
    line-height: 1.4;
}

.text-p2 {
    font-weight: 400;
    font-size: 18px;
    line-height: 1.44;
}

.warpper {
    max-width: 1440px;
    margin: 0 auto;
}

@media screen and (max-width: 1023.98px) {
    .container {
        padding: 0 24px;
    }
}

/* header */
.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 30px auto 58px;
    max-width: 1240px;
}

.menu {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 40px;
    list-style: none;
}

.header-button {
    padding: 18px 50px;
}

#menu {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #ffffff;
    border-radius: 10px;
    width: 30px;
    height: 30px;
    opacity: 0;
    visibility: hidden;
    transition: all 0.2s ease;
}

#menu:hover {
    border: 1px solid var(--color-dark1);
}

/* header responsive */

@media screen and (max-width: 1279.98px) {

    .header {
        margin: 20px 0 45px;
    }

    #menu {
        opacity: 1;
        visibility: visible;
    }

    .header-button,
    .menu {
        display: none;
    }
}

@media screen and (min-width: 1024px) and (max-width: 1279.98px) {
    .header {
        margin: 20px 24px 45px;
    }
}

/* hero */

.container {
    margin: 0 auto;
}

.hero {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 11px;
    position: relative;
}

.hero-content {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    max-width: 613px;
}

.hero-top {
    gap: 20px;
    padding: 15px 22px;
    color: var(--color-secondary);
    font-family: var(--font-family-secondary);
    background-color: rgba(255, 249, 243, 1);
    margin-bottom: 30px;
}

.icon-toolth {
    width: 30px;
    height: 30px;
}

.hero-title {
    font-family: var(--font-family-secondary);
    margin-bottom: 30px;
}

.hero-text {
    margin-bottom: 44px;
}

.hero-bottom {
    display: flex;
    align-items: center;
    gap: 41px;
}

.hero-button {
    padding: 23px 50px;
    flex-shrink: 0;
}

.bottom-items {
    display: flex;
    align-items: center;
    gap: 30px;
}

.bottom-item {
    display: flex;
    flex-direction: column;
    gap: 10px;
    flex-shrink: 0;
}

.bottom-text {
    font-family: var(--font-family-secondary);
}

.tag-text,
.bottom-note {
    color: var(--color-dark1);
}

.hero-image {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

.hero-img {
    height: 681px;
    max-width: 571px;
    object-fit: cover;
}

.hero-image-micpro {
    position: absolute;
    top: 5%;
    left: 25%;
    z-index: -1;
}

.hero-image-smile {
    display: inline-flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 5px;
    padding: 11px 13px;
    background-color: var(--color-white);
    border-radius: 10px;
    position: absolute;
    right: -12%;
    top: 40%;
}

.hero-image-bottom {
    display: flex;
    align-items: center;
    gap: 7px;
}

.hero-image-avatars {
    display: flex;
    align-items: center;
}

.hero-image-avatar {
    width: 30px;
    height: 30px;
    object-fit: cover;
    border-radius: 100rem;
    padding: 1px;
    background-color: var(--color-white);
    /* flex-shrink: 0; */
}

.hero-image-avatar:nth-child(n + 2) {
    margin-left: -8%;
}

.hero-image-stars {
    display: flex;
    align-items: center;
    gap: 3px;
}

.hero-image-star {
    width: 11px;
    height: 11px;
}

.image-icon {
    padding: 20px;
    background-color: var(--color-white);
    color: var(--color-secondary);
    position: absolute;
    right: -1%;
    bottom: 12%;
}

.background-pink {
    width: 671px;
    height: 377px;
    border-radius: 100rem;
    background-color: #F8A6F0;
    position: absolute;
    right: 0;
    bottom: 0;
    z-index: -2;
    transform: translate(10%, -20%);
    filter: blur(64px);
}

.background-orange {
    width: 671px;
    height: 377px;
    border-radius: 100rem;
    background-color: #F8D997;
    position: absolute;
    right: 0;
    bottom: 0;
    z-index: -2;
    transform: translate(-30%, 75%);
    filter: blur(64px);
}

/* .background-orange {
    width: 671px;
    height: 377px;
    border-radius: 100rem;
    background-color: #F8D997;
    position: fixed;
    right: 0;
    bottom: 0;
    z-index: -1;
    transform: translate(-30%, 90%);
    filter: blur(64px);
} */

/* hero responsive */
@media screen and (max-width: 1279.98px) {
    .hero {
        padding: 0;
    }

    .hero-top {
        gap: 15px;
        padding: 10px 20px;
    }

    .hero-text {
        margin-bottom: 30px;
    }

    .hero-bottom {
        gap: 26px;
    }

    .hero-button {
        padding: 18px 50px;
    }

    .hero-image-smile {
        display: none;
    }
}

@media screen and (min-width: 1024px) and (max-width: 1279.98px) {
    .hero {
        padding: 24px 24px 0;
    }
}

@media screen and (max-width: 1023.98px) {
    .hero-top {
        gap: 7px;
        margin-bottom: 14px;
    }

    .hero-title {
        margin-bottom: 20px;
        font-weight: 700;
        font-size: 34px;
        line-height: 42px;
    }

    .hero-text {
        margin-bottom: 26px;
    }

    .hero-bottom {
        flex-direction: column;
        justify-content: center;
    }

    .hero-img {
        height: 390px;
        max-width: 327px;
    }

    .hero-image-micpro {
        display: none;
    }

    .image-icon {
        display: none;
    }

    .background-pink,
    .background-orange {
        display: none;
    }
}

@media screen and (max-width: 767.98px) {
    .hero {
        flex-direction: column;
        gap: 35px;
        padding: 0 24px;
    }

    .hero-content {
        align-items: center;
        text-align: center;
    }

    .icon-toolth {
        width: 12px;
        height: 13px;
    }

    .hero-note {
        font-weight: 400;
        font-size: 10px;
        line-height: 16px;
    }

    .hero-title {
        width: 100%;
    }
}

/* card */
.card {
    max-width: 1170px;
    margin: 0 auto;
    border-radius: 30px;
    background-color: var(--color-white);
}

.card-items {
    padding: 60px 60px 82px;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(330px, 1fr));
    gap: 30px;
}

.card-item {
    border-radius: 16px;
    padding: 30px;
    border: 1px solid rgba(242, 243, 248, 1);
    transition: all 0.2s linear;
}

.card-item:hover {
    box-shadow: 0px 20px 80px -16px rgba(35, 35, 35, 0.1);
    border: 0;
}

/* card reponsive */

@media screen and (max-width: 1279.98px) {
    .card {
        padding: 0 0 60px;
    }

    .card-items {
        padding: 60px;
        gap: 20px;
    }
}

@media screen and (max-width: 767.98px) {

    .card-items {
        padding: 30px 0 0;
        border-radius: 0;
    }
}


/* decare */
.decare {
    padding: 80px 196px 76px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 118px;
}

.decare-title {
    max-width: 861px;
    text-align: center;
    font-family: var(--font-family-secondary);
}

.decare-content {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 65px;
    max-width: 1047px;
}

.decare-image {
    flex-shrink: 0;
    position: relative;
}

.decare-img {
    border-radius: 100rem;
    max-width: 441px;
    height: 561px;
    object-fit: cover;
}

.decare-icon {
    color: var(--color-secondary);
    padding: 20px;
    background-color: rgba(255, 242, 229, 1);
    position: absolute;
    top: 17px;
    right: 27px;
}

.decare-items {
    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-direction: column;
    gap: 30px;
}

.decare-item {
    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-direction: column;
    gap: 20px;
}

.decare-category {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 100rem;
    color: var(--color-white);
    padding: 10px;
    width: 40px;
    height: 40px;
}

.background-color1 {
    background-color: #EDF9FF;
}

.background-color2 {
    background-color: #F7F9FE;
}

.color1 {
    background: linear-gradient(341.36deg, #6BCEFD 18.5%, #32A9DF 75.59%);
}

.color2 {
    background-image: linear-gradient(70deg, rgba(244, 146, 53, 1)0%, rgba(255, 180, 109, 1)100%);
}

.color3 {
    background-image: linear-gradient(71deg, rgba(255, 121, 153, 1)0%, rgba(255, 189, 204, 1)100%);
}

.color4 {
    background-image: linear-gradient(67deg, rgba(213, 85, 199, 1)0%, rgba(243, 150, 234, 1)100%);
}

.color5 {
    background-image: linear-gradient(64deg, rgba(12, 123, 215, 1)0%, rgba(77, 167, 240, 1)100%);
}

.decare-text {
    color: var(--color-dark1);
}

/* decare reponsive */

@media screen and (max-width: 1279.98px) {
    .decare {
        padding: 80px 100px 76px;
        gap: 70px;
    }

    .decare-items {
        gap: 20px;
    }

    .decare-item {
        gap: 15px;
    }
}

@media screen and (max-width: 1023.98px) {
    .decare-content {
        flex-direction: column;
        gap: 50px;
    }
}


@media screen and (max-width: 767.98px) {
    .decare {
        padding: 0;
        gap: 44px;
    }

    .decare-title {
        font-weight: 700;
        font-size: 28px;
        line-height: 38px;
    }

    .decare-img {
        height: 417px;
    }

    .decare-icon {
        padding: 14px;
        top: 12px;
        right: 20px;
    }

    .decare-text {
        font-weight: 400;
        font-size: 14px;
        line-height: 20px;
    }
}



/* priority */
.priority {
    max-width: 1116px;
    padding: 70px 0;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    margin: 0 auto;
}

.priority-content {
    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-direction: column;
}

.priority-title {
    font-family: var(--font-family-secondary);
    margin-bottom: 30px;
}

.priority-text {
    color: var(--color-dark1);
    margin-bottom: 50px;
    max-width: 400px;
}

.priority-checks {
    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-direction: column;
    gap: 18px;
    margin-bottom: 50px;
}

.priority-check {
    display: flex;
    align-items: center;
    gap: 10px;
}

.priority-note {
    color: var(--color-dark1);
}

.priority-button {
    padding: 17px 45px;
}

.priority-image {
    position: relative;
}

.priority-img {
    height: 510px;
    max-width: 460px;
    object-fit: cover;
    border-radius: 50px 0px 50px 0px;
    margin-left: auto;
}

.priority-image-operation {
    position: absolute;
    left: 0;
    bottom: -10%;
}

/* priority reponsive */

@media screen and (max-width: 1279.98px) {
    .priority {
        padding: 70px 130px;
    }
}

@media screen and (max-width: 1023.98px) {
    .priority {
        padding: 50px 50px 0;
        gap: 9px;
    }

    .priority-title {
        font-weight: 700;
        font-size: 28px;
        line-height: 38px;
        margin-bottom: 20px;
    }

    .priority-text {
        margin-bottom: 30px;
        font-weight: 500;
        font-size: 16px;
        line-height: 24px;
        width: 100%;
    }

    .priority-checks {
        margin-bottom: 30px;
    }

    .priority-note {
        color: var(--color-dark1);
        font-weight: 400;
        font-size: 16px;
        line-height: 20px;
    }

    .priority-img {
        max-width: 327px;
        margin: 0 auto;
    }
}


@media screen and (max-width: 767.98px) {
    .priority {
        padding: 50px 0 0;
        grid-template-columns: 1fr;
        gap: 9px;
    }

    .priority-title {
        font-weight: 700;
        font-size: 28px;
        line-height: 38px;
        margin-bottom: 20px;
    }

    .priority-text {
        margin-bottom: 30px;
        font-weight: 500;
        font-size: 16px;
        line-height: 24px;
        width: 100%;
    }

    .priority-checks {
        margin-bottom: 30px;
    }

    .priority-note {
        color: var(--color-dark1);
        font-weight: 400;
        font-size: 16px;
        line-height: 20px;
    }

    .priority-img {
        max-width: 327px;
        margin-left: 0;
        margin: 0 auto;
    }

    .priority-content {
        margin: 0 auto;
    }
}

/* healthy */
.healthy {
    display: flex;
    flex-direction: row-reverse;
    gap: 60px;
}

.healthy-text {
    color: var(--color-dark1);
    margin-bottom: 50px;
}

/* healthy reponsive */

@media screen and (max-width: 1279.98px) {
    .healthy {
        padding: 70px 120px;
    }
}


@media screen and (max-width: 1023.98px) {
    .healthy {
        padding: 140px 0 70px;
        gap: 50px;
    }

    .healthy-text {
        color: var(--color-dark1);
        margin-bottom: 50px;
    }

    .healthy-checks {
        margin-bottom: 0;
    }

    .healthy-text {
        margin-bottom: 30px;
        font-weight: 500;
        font-size: 16px;
        line-height: 24px;
        width: 100%;
    }

    .healthy-img {
        height: 362px;
    }
}

@media screen and (max-width: 767.98px) {
    .healthy {
        display: grid;
        grid-template-columns: 1fr;
        padding: 140px 0 70px;
        gap: 6px;
    }

    .healthy-text {
        margin-bottom: 30px;
        font-weight: 500;
        font-size: 16px;
        line-height: 24px;
        width: 100%;
    }

}

/* service */
.service {
    padding: 70px 135px 80px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    gap: 86px;
    margin: 0 auto;
}

.service-top {
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 30px;
}

.service-title {
    max-width: 758px;
    font-family: var(--font-family-secondary);
}

.service-text {
    max-width: 596px;
    color: var(--color-dark1);
}

.service-items {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
    column-gap: 105px;
    row-gap: 50px;
    border-radius: 0;
    padding: 0;
}

/* service reponsive */
@media screen and (max-width: 1023.98px) {
    .service {
        padding: 0 0 70px;
        gap: 48px;
    }

    .service-top {
        gap: 30px;
    }

    .service-items {
        gap: 40px;
    }

    .service-item {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .service-content {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 8px;
    }
}

@media screen and (max-width: 767.98px) {
    .service-top {
        gap: 20px;
    }

    .service-title {
        max-width: 327px;
        font-weight: 700;
        font-size: 28px;
        line-height: 1.35;
    }

    .service-text {
        max-width: 300px;
        font-weight: 500;
        font-size: 16px;
        line-height: 1.5;
    }
}


/* specialist */
.specialist {
    padding: 76px 140px 78px;
    gap: 57px;
}

.specialist-top {
    gap: 24px;
}

.specialist-text {
    max-width: 502px;
    color: var(--color-dark1);
}

.specialist-items {
    border-radius: 0;
    padding: 0;
    gap: 40px;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(360px, 1fr));
}

.specialist-item {
    border-radius: 10px;
    border: 1px solid #f0f0f0;
    background-color: var(--color-white);
    padding: 21px 20px 23px;
    align-items: center;
}

.specialist-image {
    height: 370px;
    width: 100%;
    object-fit: contain;
    border-radius: inherit;
}

.specialist-content {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 20px;
}

.specialist-type {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 14px;
}

.specialist-location {
    font-weight: 600;
    font-size: 14px;
    color: var(--color-primary);
    padding: 10px 20px;
    position: relative;
    border-radius: 10px;
}

.specialist-location::before {
    content: "";
    background-color: currentColor;
    opacity: 0.1;
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    border-radius: inherit;
}

.specialist-evaluate {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 4px;
}

.specialist-note {
    font-size: 14px;
    font-weight: 600;
}

.specialist-button {
    padding: 12px 50px;
    font-weight: 500;
}

.color-dark {
    color: var(--color-dark1);
}

/* specialist reponsive */
@media screen and (max-width: 1279.98px) {
    .specialist {
        padding: 76px 90px 78px;
    }

}

@media screen and (max-width: 1023.98px) {
    .specialist {
        padding: 0 0 60px;
        gap: 48px;
    }

    .specialist-top {
        gap: 20px;
    }

    .specialist-items {
        gap: 30px;
        display: grid;
    }

    .specialist-item {
        padding: 16px 16px 23px;
    }

    .specialist-item:last-child {
        display: none;
    }
}

@media screen and (max-width: 767.98px) {

    .specialist-items {
        gap: 30px;
        padding: 0;
    }

    .specialist-item:nth-child(n + 2) {
        display: none;
    }
}

/* patient */

.patient {
    padding: 70px 135px 99px;
    gap: 70px;
    background-color: #F2F3F8;
}

.patient-top {
    gap: 20px;
}

.patient-title {
    font-family: var(--font-family-secondary);
}

.patient-text {
    max-width: 623px;
    color: var(--color-dark1);
}

.patient-items {
    padding: 0;
    background-color: inherit;
    gap: 50px;

    /* scroll-snap */
    grid-template-columns: unset;
    grid-auto-flow: column;
    grid-auto-columns: 508px;
    overflow-x: auto;
    scroll-snap-type: x mandatory;
    scroll-snap-stop: always;
}

.patient-items {
    -ms-overflow-style: none;
    scrollbar-width: none;
}

.patient-items::-webkit-scrollbar {
    display: none;
}

.patient-item {
    border-radius: 20px;
    background-color: var(--color-white);
    padding: 30px 48px;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-direction: column;

    /* scroll-snap */
    scroll-snap-align: start;
}

.patient-author {
    margin-bottom: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 24px;
}

.patient-avatar {
    object-fit: cover;
    width: 76px;
    height: 76px;
    border-radius: 100rem;
}

.patient-note {
    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-direction: column;
    gap: 5px;
}

.patient-position {
    color: var(--color-dark1);
}

.patient-evaluate {
    margin-bottom: 30px;
    display: flex;
    align-items: center;
    gap: 10px;
}

.patient-image {
    width: 31px;
    height: 31px;
    object-fit: cover;
}

/* patient-reponsive */
@media screen and (max-width: 1279.98px) {
    .patient {
        gap: 50px;
        margin: 0 -24px;
    }
}

@media screen and (max-width: 1023.98px) {
    .patient {
        padding: 70px 60px 99px;
    }
}

@media screen and (max-width: 767.98px) {
    .patient {
        padding: 50px 24px 57px;
    }

    .patient-title {
        font-weight: 700;
        font-size: 28px;
        line-height: 1.35;
    }

    .patient-items {
        gap: 20px;
    }

    .patient-item {
        padding: 20px;
    }

    .patient-author {
        gap: 16px;
    }

    .patient-avatar {
        width: 60px;
        height: 60px;
    }

    .patient-note {
        gap: 9px;
    }

    .patient-name {
        font-weight: 600;
        font-size: 18px;
        line-height: 1.3;
    }

    .patient-text {
        font-weight: 400;
        font-size: 18px;
        line-height: 1.44;
    }
}

/* consultation */
.consultation {
    padding: 70px 135px;
}

.consulation-card {
    border-radius: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-image: linear-gradient(153deg, rgba(92, 112, 244, 1)0%, rgba(154, 64, 228, 1)100%);
    padding: 70px 0;
    max-width: 1170px;
}

.consultation-note {
    color: var(--color-white);
    margin-bottom: 12px;
}

.consultation-title {
    font-family: var(--font-family-secondary);
    color: var(--color-white);
    margin-bottom: 60px;
}

.consultation-button {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    border-radius: 10px;
    padding: 16px;
    background-color: #ffffff;
}

.consultation-icon {
    width: 28px;
    height: 28px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--color-primary);
    border-radius: 100rem;
}

/* consultation reponsive */
@media screen and (max-width: 1279.98px) {
    .consultation {
        margin: -24px;
    }
}

@media screen and (max-width: 1023.98px) {
    .consultation-title {
        text-align: center;
    }

    .consultation {
        padding: 40px 0;
    }
}

@media screen and (max-width: 767.98px) {
    .consultation {
        padding: 48px 24px 60px;
    }

    .consulation-card {
        padding: 52px 24px 66px;
    }

    .consultation-note {
        margin-bottom: 18px;
    }

    .consultation-title {
        font-size: 28px;
        line-height: 1.36;
        font-weight: 700;
        margin-bottom: 57px;
    }
}


/* footer */
.footer {
    padding: 98px 0 42px;
}

/* footer-top */
.footer-top {
    padding: 0 180px 122px;
    border-bottom: 1px solid var(--color-white1);
}

.footer-items {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
    gap: 40px;
}

.footer-item {
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    color: var(--color-dark1);
    font-size: 14px;
    line-height: 1.43;
    font-weight: 400;
}

.introduction {
    margin: 20px 0;
}

.contact {
    margin-bottom: 12px;
}

.footer-tilte {

    color: var(--color-dark);
    margin-bottom: 25px;
}

.block {
    list-style: none;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-direction: column;
    gap: 12px;
}

.footer-tag {
    font-size: 14px;
    line-height: 1.43;
    color: var(--color-dark1);
    font-weight: 400;
}

.input {
    margin-bottom: 28px;
    border-radius: 8px;
    border: 1px solid #f0f0f0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.input-email {
    padding: 15px 18px;
    border: 0;
}

::-webkit-input-placeholder {
    color: var(--color-dark1);
}

::-moz-placeholder {
    color: var(--color-dark1);
}

.button-confirm {
    width: 46px;
    height: 46px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #7751F7;
    border-top-right-radius: 7px;
    border-bottom-right-radius: 7px;
    transition: all 0.2s linear;
}

.button-confirm:hover {
    opacity: 0.9;
}

.footer-text,
.footer-evaluate {
    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-direction: column;
    gap: 9px;
}

.footer-text {
    gap: 3px;
    font-size: 14px;
    color: var(--color-dark);
    font-weight: 500;
    font-family: "Inter", sans-serif;
}

.footer-star {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5px;
}

.footer-icon-star {
    width: 20px;
    height: 20px;
    color: #FFAD0F;
}

.footer-icon-star:last-child {
    color: #DCDCDC;
}

/* footer-bottom */
.footer-bottom {
    padding-top: 36px;

}

.copyright {
    padding: 0 180px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.copyright-basic {
    list-style: none;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 40px;
}

.copyright-tag {
    font-size: 12px;
    color: var(--color-dark1);
    font-weight: 400;
}

.copyright-text {
    font-family: "Inter", sans-serif;
    font-size: 14px;
    color: var(--color-dark1);
    font-weight: 400;
}

.social-items {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 16px;
}

.social-item {
    width: 38px;
    height: 38px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 100rem;
    border: 2px solid var(--color-white1);

}

.icon-social {
    object-fit: cover;
    width: 16px;
    height: 16px;
}

/* footer reponsive */
@media screen and (max-width: 1279.98px) {
    .footer {
        padding: 65px 0 30px;
        margin: -24px;
    }

    .footer-top {
        padding: 0 90px 122px;
    }

    .copyright {
        padding: 0 130px;
    }
}

@media screen and (max-width: 1023.98px) {
    .footer-items {
        gap: 30px;
    }

    .footer-top {
        padding: 0 100px 60px;
    }

    .copyright {
        padding: 0 180px;
        flex-direction: column;
        justify-content: center;
    }

    .social-items {
        order: 1;
        margin-bottom: 38px;
    }

    .copyright-basic {
        order: 2;
        margin-bottom: 22px;
    }

    .copyright-text {
        order: 3;
    }
}

@media screen and (max-width: 767.98px) {
    .footer {
        padding: 0 0 30px;
    }

    .copyright {
        padding: 0;
    }

    .footer-top {
        padding: 0 0 40px;
    }

    .footer-items {
        padding: 0 24px;
        gap: 40px;
    }
}