:root {
    --color-primary: rgba(22, 99, 249, 1);
    --color-secondary: rgba(245, 149, 58, 1);
    --color-dark: rgba(31, 35, 38, 1);
    --color-dark1: rgba(129, 135, 157, 1);
    --color-white: rgba(255, 255, 255, 1);

    --font-family-primary: "Poppins", sans-serif;
    --font-family-secondary: "Sora", sans-serif;
}

body {
    font-family: var(--font-family-primary);
    color: var(--color-dark);
}

a {
    text-decoration: none;
    color: inherit;
}

.container {
    max-width: 1488px;
    margin: 0 auto;
    padding: 0 24px;
}

/* logo */
.logo {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    text-decoration: none;
}

.logo-image {
    width: 26px;
    height: 36px;
    object-fit: cover;
}

.logo-text {
    color: var(--color-dark);
}

/* text-gradient */
.text-gradient {
    color: transparent;
    background-clip: text;
    background-image: linear-gradient(to right, rgb(22, 99, 249), rgb(249, 97, 216));
}

.text-gradient-pri {
    color: var(--color-primary);
}

/* icon */
.icon {
    border-radius: 100rem;
    width: 20px;
    height: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: linear-gradient(160.02deg, #F49235 11.67%, #FFB46D 82.2%);
}

.icon-check {
    width: 10px;
    height: 10px;
}

.icon-star {
    width: 28px;
    height: 28px;
}

.icon-bars {
    width: 24px;
    height: 24px;
}

/* item-square */
.item-square {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border-radius: 20px;
    padding: 10px;
    background-color: var(--color-white);
}

.item-square-image {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 60px;
    height: 60px;
    color: var(--color-secondary);
    background-color: rgba(255, 249, 243, 1);
    margin-bottom: 10px;
}

.item-square-img {
    width: 30px;
    height: 30px;
}

.item-square-text {
    color: var(--color-dark1);
}

/* tag-item */
.tag-item {
    background-color: var(--color-white);
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 20px;
}

.tag-img {
    border-radius: 10px;
    width: 80px;
    height: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(255, 247, 240, 1);
}

.tag-icon {
    width: 50px;
    height: 50px;
    object-fit: cover;
}

.tag-content {
    display: flex;
    flex-direction: column;
    align-content: flex-start;
    gap: 16px;
}

.tag-title {
    font-family: var(--font-family-secondary);
}

.tag-text {
    color: var(--color-dark1);
}

/* global */

.text-sm {
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
}

.text-h1 {
    font-weight: 800;
    font-size: 60px;
    line-height: 76px;
}

.text-h2 {
    font-weight: 700;
    font-size: 50px;
    line-height: 60px;
}

.text-h3 {
    font-weight: 700;
    font-size: 34px;
    line-height: 42px;
}

.text-h4 {
    font-weight: 700;
    font-size: 28px;
    line-height: 38px;
}

.text-h5 {
    font-weight: 600;
    font-size: 20px;
    line-height: 28px;
}

.text-p1 {
    font-weight: 400;
    font-size: 20px;
    line-height: 28px;
}

.text-b1 {
    font-weight: 400;
    font-size: 18px;
    line-height: 26px;
}

.text-b2 {
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
}

.button {
    border-radius: 100rem;
    background-color: var(--color-primary);
    color: var(--color-white);
}

.rounded {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    border-radius: 100rem;
}

/* header */
.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 30px 100px 58px;
}

.menu {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 40px;
    list-style: none;
}

.header-button {
    padding: 18px 50px;
}

#menu {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #ffffff;
    border-radius: 10px;
    width: 30px;
    height: 30px;
    opacity: 0;
    visibility: hidden;
    transition: all 0.2s ease;
}

#menu:hover {
    border: 1px solid var(--color-dark1);
}

/* header responsive */

@media screen and (max-width: 1279.98px) {

    .header {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin: 20px 0 45px;
    }

    #menu {
        opacity: 1;
        visibility: visible;
    }

    .menu {
        display: none;
    }

    .header-button {
        display: none;
    }
}

/* hero */
.hero {
    display: flex;
    align-items: center;
    padding: 0px 100px;
    gap: 11px;
    overflow-x: hidden;
}

.hero-content {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.hero-top {
    gap: 20px;
    padding: 15px 22px;
    color: var(--color-secondary);
    font-family: var(--font-family-secondary);
    background-color: rgba(255, 249, 243, 1);
    margin-bottom: 30px;
}

.icon-toolth {
    width: 30px;
    height: 30px;
}

.hero-title {
    font-family: var(--font-family-secondary);
    margin-bottom: 30px;
}

.hero-text {
    margin-bottom: 44px;
}

.hero-bottom {
    display: flex;
    align-items: center;
    gap: 41px;
}

.hero-button {
    padding: 23px 50px;
    flex-shrink: 0;
}

.bottom-items {
    display: flex;
    align-items: center;
    gap: 30px;
}

.bottom-item {
    display: flex;
    flex-direction: column;
    gap: 10px;
    flex-shrink: 0;
}

.bottom-text {
    font-family: var(--font-family-secondary);
}

.bottom-note {
    color: var(--color-dark1);
}

.hero-image {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

.hero-img {
    height: 681px;
    max-width: 571px;
    object-fit: cover;
}

.hero-image-micpro {
    position: absolute;
    top: 5%;
    left: 25%;
    z-index: -1;
}

.hero-image-smile {
    display: inline-flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 5px;
    padding: 11px 13px;
    background-color: var(--color-white);
    border-radius: 10px;
    position: absolute;
    right: -12%;
    top: 40%;
}

.image-smile-text {
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
}

.hero-image-bottom {
    display: flex;
    align-items: center;
    gap: 7px;
}

.hero-image-avatars {
    display: flex;
    align-items: center;
}

.hero-image-avatar {
    width: 30px;
    height: 30px;
    object-fit: cover;
    border-radius: 100rem;
    padding: 1px;
    background-color: var(--color-white);
    /* flex-shrink: 0; */
}

.hero-image-avatar:nth-child(n + 2) {
    margin-left: -8%;
}

.hero-image-stars {
    display: flex;
    align-items: center;
    gap: 3px;
}

.hero-image-star {
    width: 11px;
    height: 11px;
}

.image-icon {
    padding: 20px;
    background-color: var(--color-white);
    color: var(--color-secondary);
    position: absolute;
    right: -1%;
    bottom: 12%;
}

/* hero responsive */
@media screen and (max-width: 1279.98px) {
    .hero {
        padding: 0;
    }

    .hero-top {
        gap: 15px;
        padding: 10px 20px;
    }

    .hero-text {
        margin-bottom: 30px;
    }

    .hero-bottom {
        gap: 26px;
    }

    .hero-button {
        padding: 18px 50px;
    }

    .hero-image-smile {
        display: none;
    }
}

@media screen and (max-width: 1023.98px) {
    .hero-top {
        gap: 7px;
        margin-bottom: 14px;
    }

    .hero-title {
        margin-bottom: 20px;
        font-weight: 700;
        font-size: 34px;
        line-height: 42px;
    }

    .hero-text {
        margin-bottom: 26px;
    }

    .hero-bottom {
        flex-direction: column;
        justify-content: center;
    }

    .hero-img {
        height: 390px;
        max-width: 327px;
    }

    .hero-image-micpro {
        display: none;
    }

    .image-icon {
        display: none;
    }
}

@media screen and (max-width: 767.98px) {
    .hero {
        flex-direction: column;
        gap: 35px;
    }

    .hero-content {
        align-items: center;
        text-align: center;
    }

    .icon-toolth {
        width: 12px;
        height: 13px;
    }

    .hero-note {
        font-weight: 400;
        font-size: 10px;
        line-height: 16px;
    }

    .hero-title {
        width: 100%;
    }
}

/* card */
.card {
    padding: 0 135px;
}

.card-items {
    border-radius: 30px;
    background-color: var(--color-white);
    padding: 60px 60px 82px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 30px;
}

.card-item {
    border-radius: 16px;
    padding: 30px;
    border: 1px solid rgba(242, 243, 248, 1);
}

.card-item:nth-child(2) {
    box-shadow: 0px 20px 80px -16px rgba(35, 35, 35, 0.1);
}

/* card reponsive */

@media screen and (max-width: 1279.98px) {
    .card {
        padding: 0 60px;
    }

    .card-items {
        gap: 20px;
    }
}

@media screen and (max-width: 1023.98px) {
    .card {
        padding: 0;
    }
}

@media screen and (max-width: 767.98px) {

    .card-items {
        border-radius: 0;
        grid-template-columns: 1fr;
    }

    .card-items {
        padding: 60px 0 82px;
    }
}


/* decare */
.decare {
    padding: 80px 196px 76px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 118px;
}

.decare-title {
    max-width: 861px;
    text-align: center;
    font-family: var(--font-family-secondary);
}

.decare-content {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 65px;
}

.decare-image {
    flex-shrink: 0;
    position: relative;
}

.decare-img {
    border-radius: 100rem;
    max-width: 441px;
    height: 561px;
    object-fit: cover;
}

.decare-icon {
    color: var(--color-secondary);
    padding: 20px;
    background-color: rgba(255, 242, 229, 1);
    position: absolute;
    top: 17px;
    right: 27px;
}

.decare-items {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 30px;
}

.decare-item {
    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-direction: column;
    gap: 20px;
}

.decare-category {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 100rem;
    background: linear-gradient(341.36deg, #6BCEFD 18.5%, #32A9DF 75.59%);
    color: var(--color-white);
    padding: 10px;
    font-weight: 600;
    font-size: 18px;
    line-height: 24px;
    width: 40px;
    height: 40px;
}

.decare-text {
    color: var(--color-dark1);
}

/* decare reponsive */

@media screen and (max-width: 1279.98px) {
    .decare {
        padding: 80px 100px 76px;
        gap: 70px;
    }

    .decare-items {
        gap: 20px;
    }

    .decare-item {
        gap: 15px;
    }
}

@media screen and (max-width: 767.98px) {
    .decare {
        padding: 0;
        gap: 44px;
    }

    .decare-title {
        font-weight: 700;
        font-size: 28px;
        line-height: 38px;
    }

    .decare-content {
        gap: 50px;
        flex-direction: column;
    }

    .decare-img {
        height: 417px;
    }

    .decare-icon {
        padding: 14px;
        top: 12px;
        right: 20px;
    }

    .decare-text {
        font-weight: 400;
        font-size: 14px;
        line-height: 20px;
    }
}



/* priority */
.priority {
    padding: 70px 162px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}

.priority-content {
    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-direction: column;
}

.priority-title {
    font-family: var(--font-family-secondary);
    margin-bottom: 30px;
}

.priority-text {
    color: var(--color-dark1);
    margin-bottom: 50px;
    max-width: 400px;
}

.priority-checks {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 18px;
    margin-bottom: 50px;
}

.priority-check {
    display: flex;
    align-items: center;
    gap: 10px;
}

.priority-note {
    color: var(--color-dark1);
}

.priority-button {
    padding: 17px 45px;
}

.priority-image {
    position: relative;
}

.priority-img {
    height: 510px;
    max-width: 460px;
    object-fit: cover;
    border-radius: 50px 0px 50px 0px;
    margin-left: auto;
}

.priority-image-operation {
    position: absolute;
    left: 0;
    bottom: -10%;
}

/* priority reponsive */

@media screen and (max-width: 1279.98px) {
    .priority {
        padding: 70px 130px;
    }
}

@media screen and (max-width: 1023.98px) {
    .priority {
        padding: 50px 50px 0;
        gap: 9px;
    }

    .priority-title {
        font-weight: 700;
        font-size: 28px;
        line-height: 38px;
        margin-bottom: 20px;
    }

    .priority-text {
        margin-bottom: 30px;
        font-weight: 500;
        font-size: 16px;
        line-height: 24px;
        width: 100%;
    }

    .priority-checks {
        margin-bottom: 30px;
    }

    .priority-note {
        color: var(--color-dark1);
        font-weight: 400;
        font-size: 16px;
        line-height: 20px;
    }

    .priority-img {
        max-width: 327px;
        margin: 0 auto;
    }
}


@media screen and (max-width: 767.98px) {
    .priority {
        padding: 50px 0 0;
        grid-template-columns: 1fr;
        gap: 9px;
    }

    .priority-title {
        font-weight: 700;
        font-size: 28px;
        line-height: 38px;
        margin-bottom: 20px;
    }

    .priority-text {
        margin-bottom: 30px;
        font-weight: 500;
        font-size: 16px;
        line-height: 24px;
        width: 100%;
    }

    .priority-checks {
        margin-bottom: 30px;
    }

    .priority-note {
        color: var(--color-dark1);
        font-weight: 400;
        font-size: 16px;
        line-height: 20px;
    }

    .priority-img {
        max-width: 327px;
        margin-left: 0;
        margin: 0 auto;
    }

    .priority-content {
        margin: 0 auto;
    }
}

/* healthy */
.healthy {
    padding: 70px 200px;
    display: flex;
    flex-direction: row-reverse;
    gap: 60px;
}

.healthy-text {
    color: var(--color-dark1);
    margin-bottom: 50px;
}

/* healthy reponsive */

@media screen and (max-width: 1279.98px) {
    .healthy {
        padding: 70px 120px;
    }
}


@media screen and (max-width: 1023.98px) {
    .healthy {
        padding: 140px 0 70px;
        gap: 50px;
    }

    .healthy-text {
        color: var(--color-dark1);
        margin-bottom: 50px;
    }

    .healthy-checks {
        margin-bottom: 0;
    }

    .healthy-text {
        margin-bottom: 30px;
        font-weight: 500;
        font-size: 16px;
        line-height: 24px;
        width: 100%;
    }

    .healthy-img {
        height: 362px;
    }
}

@media screen and (max-width: 767.98px) {
    .healthy {
        display: grid;
        grid-template-columns: 1fr;
        padding: 140px 0 70px;
        gap: 6px;
    }

    .healthy-text {
        margin-bottom: 30px;
        font-weight: 500;
        font-size: 16px;
        line-height: 24px;
        width: 100%;
    }

}

/* service */
.service {
    padding: 70px 135px 80px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    gap: 86px;
}

.service-top {
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 30px;
}

.service-title {
    max-width: 758px;
    font-family: var(--font-family-secondary);
}

.service-text {
    max-width: 596px;
    color: var(--color-dark1);
}

.service-items {
    column-gap: 105px;
    row-gap: 50px;
    border-radius: 0;
    padding: 0;
}

.service-note {
    font-weight: 500;
}

/* service reponsive */
@media screen and (max-width: 1023.98px) {
    .service {
        padding: 0 0 70px;
        gap: 48px;
    }

    .service-top {
        gap: 30px;
    }

    .service-items {
        gap: 40px;
    }

    .service-item {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .service-content {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 8px;
    }
}

@media screen and (max-width: 767.98px) {
    .service-top {
        gap: 20px;
    }

    .service-title {
        max-width: 327px;
        font-weight: 700;
        font-size: 28px;
        line-height: 1.35;
    }

    .service-text {
        max-width: 300px;
        font-weight: 500;
        font-size: 16px;
        line-height: 1.5;
    }
}


/* specialist */
.specialist {
    padding: 76px 140px 78px;
    gap: 57px;
}

.specialist-top {
    gap: 24px;
}

.specialist-text {
    max-width: 502px;
    color: var(--color-dark1);
}

.specialist-items {
    border-radius: 0;
    padding: 0;
    gap: 40px;
}

.specialist-item {
    border-radius: 10px;
    border: 1px solid #f0f0f0;
    background-color: var(--color-white);
    padding: 21px 20px 23px;
    align-items: center;
}

.specialist-image {
    height: 370px;
    width: 100%;
    object-fit: cover;
    border-radius: inherit;
}

.specialist-content {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 20px;
}

.specialist-type {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 14px;
}

.specialist-location {
    font-weight: 600;
    font-size: 14px;
    color: var(--color-primary);
    padding: 10px 20px;
    position: relative;
    border-radius: 10px;
}

.specialist-location::before {
    content: "";
    background-color: currentColor;
    opacity: 0.1;
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    border-radius: inherit;
}

.specialist-evaluate {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 4px;
}

.specialist-note {
    font-size: 14px;
    font-weight: 600;
}

.specialist-button {
    padding: 12px 50px;
    font-weight: 500;
}

.color-dark {
    color: var(--color-dark1);
}

/* specialist reponsive */
@media screen and (max-width: 1279.98px) {
    .specialist {
        padding: 76px 90px 78px;
    }

}

@media screen and (max-width: 1023.98px) {
    .specialist {
        padding: 70px 0 60px;
        gap: 48px;
    }

    .specialist-top {
        gap: 20px;
    }

    .specialist-items {
        gap: 30px;
    }

    .specialist-item {
        padding: 16px 16px 23px;
    }

    .specialist-item:nth-child(n + 2) {
        display: none;
    }
}